Repository Codeit-MovieGlass/MovieGlass_FE, pull requests merged in 2025-02, with the labels that each got.

#20 Feat: 장르 선택 UI 구현
  src/App.jsx
  src/assets/svgs/icons/purple-arrow.svg
  src/icons/Arrow.js
  src/pages/Onboarding/GenreSelectionPage/GenreSelection.jsx
  src/pages/Onboarding/GenreSelectionPage/GenreSelection.styled.js
  src/pages/Onboarding/GenreSelectionPage/genreApi.js
  src/styles/theme/colors.js
Labels: UI, components

#26 Feat: 영화 선택 UI 구현
  src/App.jsx
  src/api/movieSelect.js
  src/assets/svgs/icons/check.svg
  src/assets/svgs/icons/check_icon.svg
  src/icons/Check.js
  src/pages/Onboarding/MovieSelection/MovieSelection.jsx
  src/pages/Onboarding/MovieSelection/MovieSelection.styled.js
  src/pages/Onboarding/MovieSelection/SelectMovieData.js
Labels: feature, UI

#48 Feat: 자체 회원가입/로그인 API 구현 및 Axios Interceptor 임시 설정
  jsconfig.json
  package.json
  src/App.jsx
  src/api/api.js
  src/api/auth.js
  src/auth/auth.js
  src/auth/redirects/GoogleRedirect.jsx
  src/auth/redirects/KakaoRedirect.jsx
  src/pages/Login/Login.jsx
  src/pages/Login/Login.styled.js
  src/pages/Onboarding/SignUp/SignUp.jsx
  src/pages/SignUp/SignUp.jsx
  src/pages/SignUp/SignUp.styled.js
  vite.config.js
  yarn.lock
Labels: API, auth

#50 Fix: 마이페이지 내 리뷰 페이지 UI 수정
  .vscode/settings.json
  package.json
  src/App.jsx
  src/assets/svgs/icons/Warning.svg
  src/components/BackToHome/BackToHome.jsx
  src/components/BackToHomeOrMyPage/BackToHomeOrMyPage.jsx
  src/components/BackToHomeOrMyPage/BackToHomeOrMyPage.styled.js
  src/components/Modal/Quit/QuitModal.jsx
  src/components/Modal/Quit/QuitOrDeleteModal.jsx
  src/components/Modal/Quit/QuitOrDeleteModal.styled.js
  src/components/SearchMovie/NoSearchData/NoSearchData.jsx
  src/components/SearchMovie/SearchMovie.jsx
  src/components/SpoilerToggle/SpoilerToggle.jsx
  src/components/SpoilerToggle/SpoilerToggle.styled.js
  src/icons/EditDelete.js
  src/icons/HomeIcon.js
  src/icons/MyPage.js
  src/pages/Collection/CollectionDetail.jsx
  src/pages/Collection/CollectionModal.jsx
  src/pages/Collection/CollectionMovieSearchModal.jsx
  src/pages/Collection/CollectionPage.jsx
  src/pages/Collection/CollectionPage.styled.js
  src/pages/MyPage/MyPage.jsx
  src/pages/MyPage/Review/MyReviewPage.jsx
  src/pages/MyPage/Review/MyReviewPage.styled.js
  yarn.lock
Labels: UI, fix

#52 Fix: 마이페이지 내 좋아요 페이지 UI 수정
  src/App.jsx
  src/components/BackToHomeOrMyPage/BackToHomeOrMyPage.jsx
  src/components/BackToHomeOrMyPage/BackToHomeOrMyPage.styled.js
  src/components/Heart/Heart.jsx
  src/components/Heart/Heart.styled.js
  src/components/Like/Like.jsx
  src/icons/Home.js
  src/icons/Magnifier.js
  src/pages/Collection/CollectionDetail.jsx
  src/pages/Collection/CollectionModal.jsx
  src/pages/Collection/CollectionMovieSearchModal.jsx
  src/pages/Collection/CollectionPage.jsx
  src/pages/Collection/CollectionPage.styled.js
  src/pages/MyPage/Like/MyLikePage.jsx
  src/pages/MyPage/Like/MyLikePage.styled.js
  src/pages/MyPage/Like/mock/mockLikedMovies.js
  src/pages/Onboarding/GenreSelection/GenreSelection.jsx
  src/pages/Onboarding/GenreSelection/GenreSelection.styled.js
Labels: UI, fix

#61 Feat: 영화 상세 모달 UI 구현
  public/AgeRating/12.svg
  public/AgeRating/15.svg
  public/AgeRating/19.svg
  public/AgeRating/all.svg
  public/OTT/wavve.png
  src/App.jsx
  src/api/api.js
  src/api/auth.js
  src/components/EditDeleteButton/EditDeleteButton.jsx
  src/components/EditDeleteButton/EditDeleteButton.styled.js
  src/components/Heart/Heart.jsx
  src/components/Modal/Quit/QuitOrDeleteModal.jsx
  src/components/OTTLink/MoreModal.jsx
  src/components/OTTLink/MoreModal.styled.js
  src/components/OTTLink/OTTLink.jsx
  src/components/OTTLink/OTTLink.styled.js
  src/components/Review/MyReview/MyReview.jsx
  src/components/Review/MyReview/MyReview.styled.js
  src/components/Review/MyReviewTitle/MyReviewTitle.jsx
  src/components/Review/MyReviewTitle/MyReviewTitle.styled.js
  src/components/Review/Review.jsx
  src/components/Review/Review.styled.js
  src/components/Review/ReviewList.jsx
  src/components/ReviewSortOption/ReviewSortOption.jsx
  src/components/ReviewSortOption/ReviewSortOption.styled.js
  src/components/SpoilerToggle/SpoilerToggle.jsx
  src/components/TopTenList/TopTenList.styled.js
  src/components/ViewCount/Dropdown/ViewCountDropdown.jsx
  src/components/ViewCount/Dropdown/ViewCountDropdown.styled.js
  src/components/ViewCount/ViewCount.jsx
  src/components/ViewCount/ViewCount.styled.js
  src/icons/Arrow.js
  src/icons/EditDelete.js
  src/icons/Eye.js
  src/pages/Login/Login.jsx
  src/pages/MovieModal/InfoTab/MovieInfoTab.jsx
  src/pages/MovieModal/InfoTab/MovieInfoTab.styled.js
  src/pages/MovieModal/MovieModal.jsx
  src/pages/MovieModal/MovieModal.styled.js
  src/pages/MovieModal/ReviewTab/MovieReviewTab.jsx
  src/pages/MovieModal/ReviewTab/MovieReviewTab.styled.js
  src/pages/MyPage/Like/MyLikePage.jsx
  src/pages/MyPage/Review/MyReviewPage.jsx
  src/pages/MyPage/Review/MyReviewPage.styled.js
Labels: UI

#67 Fix: 소셜 로그인 API 구현 및 홈화면 API 및 UI 수정
  src/App.jsx
  src/api/api.js
  src/api/home.js
  src/auth/redirects/GoogleRedirect.jsx
  src/auth/redirects/KakaoRedirect.jsx
  src/components/Curation/Curation.jsx
  src/components/MovieIntroBox/MovieIntroBox.styled.js
  src/components/Rating/Star.jsx
  src/components/TopTenList/TopTenList.jsx
  src/components/TopTenList/TopTenList.styled.js
  src/icons/Social.js
  src/pages/Home/Home.jsx
  src/pages/Home/Home.styled.js
  src/pages/LoadingFullScreen/LoadingFullScreen.jsx
  src/pages/LoadingFullScreen/LoadingFullScreen.styled.js
  src/pages/Login/Login.jsx
  src/pages/Login/Login.styled.js
  src/pages/Login/Social/SocialLogin.jsx
  src/pages/Login/Social/SocialLogin.styled.js
Labels: UI, API, fix

#70 Feat: 마이페이지 API 구현
  public/Profile/profile.jpg
  src/api/auth.js
  src/api/home.js
  src/api/mypage.js
  src/components/Calendar/Calendar.jsx
  src/components/Curation/Mock/CurationData.js
  src/components/EditProfileName/EditProfileName.jsx
  src/components/TopTenList/TopTenList.jsx
  src/components/TopTenList/mock/TopTenMovieList.js
  src/pages/Home/Home.jsx
  src/pages/Login/Login.jsx
  src/pages/MyPage/Like/MyLikePage.jsx
  src/pages/MyPage/Like/mock/mockLikedMovies.js
  src/pages/MyPage/MyPage.jsx
  src/pages/MyPage/Review/MyReviewPage.jsx
  src/pages/SignUp/SignUp.jsx
Labels: UI, API

#71 Fix: Emoji Curation UI 및 API 수정
  src/api/home.js
  src/components/Balloon/Emoji/EmojiBalloon.jsx
  src/components/Balloon/Emoji/EmojiBalloon.styled.js
  src/pages/Home/Home.jsx
Labels: bug, UI, API, fix

#72 Feat: 소셜 로그인 및 자체 회원가입 API 구현
  src/api/auth.js
  src/auth/redirects/GoogleRedirect.jsx
  src/auth/redirects/KakaoRedirect.jsx
  src/auth/utils/authHelper.js
  src/components/UserMenuDropdown/UserMenuDropdown.jsx
  src/hooks/auth/useAuth.js
  src/layout/Header/Header.jsx
  src/pages/Login/Login.jsx
  src/pages/SignUp/SignUp.jsx
Labels: feature, API

#69 Feat: 챗봇 UI 및 API 구현
  src/api/chatbot.js
  src/assets/svgs/icons/ai-button.svg
  src/assets/svgs/icons/ai-logo.svg
  src/assets/svgs/icons/down-arrow.svg
  src/assets/svgs/icons/send.svg
  src/components/ChatBot/ChatBot.jsx
  src/components/ChatBot/ChatBot.styled.js
  src/components/ChatBot/ChatBox.jsx
  src/icons/AI.js
  src/icons/Arrow.js
  src/icons/Send.js
  src/pages/Home/Home.jsx
  src/pages/Home/Home.styled.js
Labels: feature, UI, API

#53 Feat: 장르 선택 API 구현
  src/api/genre.js
  src/pages/Onboarding/GenreSelection/GenreSelection.jsx
Labels: API

#64 Feat: 영화 선택 API 구현
  src/api/genre.js
  src/api/movieSelect.js
  src/pages/Onboarding/MovieSelection/MovieSelection.jsx
  src/pages/Onboarding/MovieSelection/SelectMovieData.js
Labels: API, components
